name: 'Deploy'
on:
  push:
    branches: [main, develop]

concurrency:
  cancel-in-progress: true
  group: ${{ github.ref }}

jobs:
  lint-and-test:
    name: Lint and unit test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.ref }} branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7.0.1

      - uses: actions/setup-node@v2
        with:
          node-version: 16.13.0
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Check Types
        run: pnpm check:types

      - name: Run ESLint
        run: pnpm lint

      - name: Run tests
        run: pnpm test -- --changed ${{ github.ref }}

  deploy-to-dev:
    name: Deploy to Dev
    if: github.event.ref == 'refs/heads/develop'
    needs: lint-and-test
    uses: ./.github/workflows/deploy-action.yml
    with:
      environment: dev
      branch: develop
    secrets:
      ssh_host: ${{ secrets.SSH_HOST }}
      ssh_user: ${{ secrets.SSH_USER }}
      ssh_key_ed25519: ${{ secrets.SSH_KEY_ED25519 }}
      ssh_port: ${{ secrets.SSH_PORT }}

  release:
    name: Release
    if: github.event.ref == 'refs/heads/main'
    needs: lint-and-test
    runs-on: ubuntu-latest
    outputs:
      skipped: ${{ steps.changelog.outputs.skipped }}
      tag: ${{ steps.changelog.outputs.tag }}
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main
          token: ${{ secrets.PAT }}

      - id: changelog
        name: Conventional Changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          git-message: 'chore(release): {version} [no ci]'
          git-user-email: emnnipal@gmail.com
          git-user-name: Emmanuel Nipal
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: 'false'

      - name: Create Github Release
        uses: actions/create-release@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}

  deploy-to-staging:
    name: Deploy to Staging
    if: needs.release.outputs.skipped == 'false'
    needs: release
    uses: ./.github/workflows/deploy-action.yml
    with:
      environment: staging
      branch: 'refs/tags/${{needs.release.outputs.tag}}'
    secrets:
      ssh_host: ${{ secrets.SSH_HOST }}
      ssh_user: ${{ secrets.SSH_USER }}
      ssh_key_ed25519: ${{ secrets.SSH_KEY_ED25519 }}
      ssh_port: ${{ secrets.SSH_PORT }}
